*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    position: relative;
    text-align: center;
    font-family: arial;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}
header{
    color: white;
    letter-spacing: 5px;
    font-size: 20px;
    align-self: auto;
}
.gameBoard{
    background: white;
    width: 610px;
    padding-bottom: 10px;
    margin: auto;
}
.img{
    background-color: #082d52;
    width: 110px;
    height: 110px;
    float: left;
    margin: 10px 0 0 10px;
}
.img.flip:hover{
    opacity: 0.7;
    cursor: pointer;
}
.img img{
    width: 100%;
    display: block;
    border: solid 2px transparent;
    height: 100%;
    object-fit: cover;
}
.img .outline{
    border: solid 1px #082d52;
    background: #082d52;
    opacity: 0.7;
}
#status{
    background-color: #082d52;
    background: hsla(280, 84%, 41%, 1);
    background: linear-gradient(90deg, hsla(280, 84%, 41%, 1) 0%, hsla(218, 97%, 56%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(280, 84%, 41%, 1) 0%, hsla(218, 97%, 56%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(280, 84%, 41%, 1) 0%, hsla(218, 97%, 56%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8711c1", endColorstr="#2472fc", GradientType=1 );
    width: 590px;
    line-height: 60px;
    float: left;
    margin: 10px 0 0 10px;
    padding: 0 10px;
    color: white;
    font-size: 2em;
}
#time{
    float: right;
}
#time::after{
    content: " sec";
}
#score{
    float: left;
}
#score::after{
    content: " points";
}
footer p{
    color: white;
    padding: 5px;
    font-size: 14px;
    letter-spacing: 1px;
}
footer p a{
    color: #ddd;
    text-decoration: none;
}
footer p a:hover{
    color: white;
    text-decoration: underline;
}
.hidden{
    display: none !important;
}
.show{
    display: block;
}
#selection{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}  
#movies{
    margin: auto;
    padding: 20px;
    width: 300px;
    background: white;
    color: #082d52;
}
#movies p{
    margin-top: 10px;
    padding: 10px 20px;
    border: solid 1px;
    background: white;
    color: #082d52;
    cursor: pointer;
    font-size: 16px;
}
#movies p:hover{
    background: #082d52;
    background-size: 250%;
    color: white;
}
#selection h2, #post h2{
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
#result{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
}
#result div{
    width: 300px;
    padding: 20px 0 40px;
    background: white;
    color: #082d52;
}
#result p:first-child, #result #resultFinal{
  font-weight: bold;
  letter-spacing: 2px;
  margin: auto;
  padding: 10px 20px;
}
#result #playAgain{
  color: #082d52;
  text-decoration: none;
  margin: auto;
  padding: 10px 20px;
  width: 160px;
  border: solid 1px;
}
#result #playAgain:hover{
  background: #9b59b6;
  background-size: 250%;
  color: white;
  cursor: pointer;
}